@page "/"
@using PSSTORE.Models
@inject HttpClient Http;

<PageTitle>Ware</PageTitle>


@if (wares == null)
{
    <p>loading..</p>
}

<div>
    

    @foreach(var ware in wares)
    {
        <p>
            @ware.Name
        </p>
    }

</div>












@code{
    private List<Ware> wares = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            wares = await Http.GetFromJsonAsync<List<Ware>>("api/Wares");
        }
        catch (Exception ex)
        {
            await Console.Out.WriteLineAsync("NÆH INTA TINGA" + ex);
        }


    }

}